<mat-card class="pizza-card">
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="[pizza.id, pizza.name]">{{ pizza.name | dots }}</a>
      <!-- <p>{{ pizza.id }}</p> -->
    </mat-card-title>
  </mat-card-header>
  <div mat-card-image class="pizza-img">
    <img mat-card-image [src]="pizza.photoUrl" alt="Photo of a pizza" />
  </div>
  <mat-card-content class="description">
    <p>
      {{ pizza.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="editPizzaHandler(pizza.id)">edit</button>
    <button mat-button (click)="removePizzaHandler(pizza.id)">
      delete
    </button>
  </mat-card-actions>
</mat-card>
